{% extends "index.html" %}

{% block title %}Visualizador de Cubo{% endblock %}


{% block content %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/estiloInfoship.css') }}">
<body>

     <h3><p style="text-align: left;">Aqui podras ver paso a paso como resolver los problemas de direccion</p></h3>

    <br>
    <div id="contenedor_principal">
      <center> 
      <!-- Primera Imagen -->
        <div class="contenedor_imagen_texto">
            <img src="{{ url_for('infoship.static', filename='img/INDEXDWP.png') }}" alt="Ejemplo">
            <div><h3><center>Paso 1</center><br><center>Para realizar el cambio de direccion ingresar a DWP</center></h3></div>
        </div>

        <!-- Segunda Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/change.png') }}" width="440" height="310"></div>
            <div><h3><center>Paso 2</center><br><center>Para revisar las direcciones puedes entrar a esta transacción VL02N - Change Outbound Delivery</center></h3></div>
        </div>

        <!-- Tercera Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/sombrero.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 3</center><br><center>Una vez ingresado el delivery, te aparecera un encabezado, Haz clic sobre el sombrero</center></h3></div>
        </div>

        <!-- Cuarta Imagen -->
        <div class="contenedor_imagen_texto">
             <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/partner.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 4</center><br><center>Una vez dado clic sobre el icono de sombrero, se abrira una pestaña posterior. Da clic sobre la opcion partner</center></h3></div>
        </div>

        <!-- Quinta Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/Informacion.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 5</center><br><center>Una vez dado clic en el apartado partner, podras visualizar la Informacion del cliente. Da clic en el area marcada de verde</center></h3></div>
        </div>

        <!-- Sexta Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/datos.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 6</center><br><center>En esta pestaña se mostrara mas a detalle la direccion del cliente, puedes hacer busqueda de la direccion en Google</center></h3></div>
        </div>

        <!-- Septima Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/Validacion .png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 7</center><br><center>Puedes buscar la direccion en google para validarla. Haz comparaciones, en caso de que haya que corregir la direccion, utiliza la direccion de google</center></h3></div>
        </div>

        <!-- Octava Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/palomita.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 8</center><br><center>Una vez realizada la correccion, da clic en el icono marcado con verde</center></h3></div>
        </div>

        <!-- Novena Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/save.png') }}" width="360" height="310"></div>
            <div><h3><center>Paso 9</center><br><center>Haz clic en el siguiente icono que saldra en parte superior izquierda, esto servira para guardar los cambios realizados en la direccion</center></h3></div>
        </div>

        <!-- Decima Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/verificar.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 10</center><br><center>Ingresa a esta transaccion ZDWMPGI - Transaction DWM good issue processin, para forzar el PGI</center></h3></div>
        </div>

        <!-- Decimo Primera Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/PGI.png') }}" width="310" height="310"></div>
            <div><h3><center>Paso 11</center><br><center>Podras ver una pestaña como la siguiente, pon el delivery y el numero de planta (MX03)</center></h3></div>
        </div>

        <!-- Decimo Segunda Imagen -->
        <div class="contenedor_imagen_texto">
            <div class="imagen"><img src="{{ url_for('infoship.static', filename='img/PGI bien.png') }}" width="360" height="310"></div>
            <div><h3><center>Paso 12</center><br><center>Te saldra lo siguiente en caso de que tus cambios sean los correctos</center></h3></div>
        </center>
          </div>
    </div> <!-- Cierra contenedor_principal -->

    <br><br><br>

    <a href="https://tools.usps.com/zip-code-lookup.htm" target="_blank" class="btn-izquierda">
        Buscar Codigo postal USA
    </a>
    <a href="https://micodigopostal.org/" target="_blank" class="btn-derecha">
        Buscar Código Postal MX
    </a>
    
<div class="container">
  <a href="Cambio de carrier.html" target="_blank" class="btn-centro">
    Clic aqui si tu problema sigue
  </a>
</div>
</body>
{% endblock %}