# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos de configuración
*.env
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
