/* Estilo general del body
body {
  margin: 0;
  padding: 20px;
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: white;
} */

/* Contenedor principal */
.container {
  max-width: 800px;
  margin: auto;
}

/* Tablets (pantallas menores a 1024px) */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Móviles en horizontal (pantallas menores a 768px) */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Móviles en vertical (pantallas menores a 480px) */
@media (max-width: 480px) 
  .grid-container {
    grid-template-columns: 1fr;
  }

/* Estilo del campo de búsqueda */
#busqueda {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Contenedor con grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 15px; /* 20px entre filas (vertical), 10px entre columnas (horizontal) */
}

/* Estilo de cada tarjeta */
.item {

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  color: aliceblue;
  display: block;
  text-align: center; /* ← Esto centra el texto */
}


.item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.item img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  display: -moz-grid;
  border-radius: 8px;
}
