<nav>
  <ul style="display: flex; align-items: center;">

    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('landing') }}">About</a></li>
    <li><a href="#">Sitios web</a>
      <ul>
        <li><a href="{{ url_for('cubo') }}">Labels position</a></li>
        <li><a href="{{ url_for('infoship') }}">Infoship</a></li>
        <li><a href="{{ url_for('SOPSite.index') }}">SOP</a></li>
        <li><a href="{{ url_for('ShippingClose.index') }}">ShippingClose</a></li>
        <li><a href="{{ url_for('gaylorTracker.index') }}">GaylorTracker</a></li>
        <li><a href="{{ url_for('confirmationTracker.index') }}">HU Scanner</a></li>
      </ul>
    </li>
    <!-- <li><a href="#">Contact</a>
      <ul>
        <li><a href="#">Map</a></li>
        <li><a href="#">Form</a></li>
      </ul>
    </li> -->

    <!-- Este item se empuja a la derecha con margin-left auto -->
    <li style="margin-left: auto; position: relative;">
      {% if session.usuario %}
        <a href="#">{{ session.usuario }}</a>
        <ul>
          <li>
            <form action="{{ url_for('auth.logout') }}" method="GET" style="margin: 0;">
              <button type="submit" class="btn-logout">Cerrar sesión</button>
            </form>
          </li>
        </ul>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
      {% endif %}
    </li>

  </ul>
</nav>
